/* Gallery.module.css */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8); /* Optional: for a dark overlay */
}

.fullscreen .relative {
  height: 100vh;
}
